{% extends 'inicio/consulta.html' %}
{% load static %}

{% block consulta %}
    {% if user.type_u.codigo == 'user' %}
        <div class="section d-flex">
            <div class="justify-content-center container" style="height: 90%;width: 100%">
                <div class="d-flex container2 text-center justify-content-center">
                    <ul class="nav nav-tabs " role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="Titul">Gestión de Transacciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'saldo' %}">Saldo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'trans' '-' %}" >Transacciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recar' %}">Recargar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'retir' %}">Retirar</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane card-body active" role="tabpanel">
                            <h3 class="mb-md-3 text-center text-white align-center">Consultar Transacción</h3>
                            <form method="POST">
                                {% csrf_token %}
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                                        </div>
                                        <input type="text" name="fecha" value="{{ transaccion.fecha }}" required="" disabled="" class="form-control" id="id_fecha" readonly="">
                                    </div>

                                    {% if transaccion.descripcion == 1 %}
                                    
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-piggy-bank"></i></span>
                                        </div>
                                        <input type="text" name="fecha" value="{{ transaccion.get_bco_display }}" required="" disabled="" class="form-control" id="id_fecha" readonly="">
                                    </div>

                                    {% elif transaccion.descripcion == 2 %}

                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-piggy-bank"></i></span>
                                        </div>
                                        <input type="text" name="fecha" value="{{ transaccion.bco_retiro.get_bco_display }} 0{{ transaccion.bco_retiro.numero }} {{ transaccion.bco_retiro.ident }} {{ transaccion.bco_retiro.names }}" required="" class="form-control" id="id_fecha" readonly="">
                                    
                                    </div>

                                    {% endif %}

                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-receipt"></i></span>
                                        </div>
                                        <input type="text" name="fecha" value="{{ transaccion.ref }}" required="" disabled="" class="form-control" id="id_fecha" readonly="">
                                    </div>

                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-money-bill-alt"></i></span>
                                        </div>
                                        <input type="text" name="fecha" value="{{ transaccion.monto }}" required="" disabled="" class="form-control" id="id_fecha" readonly="">
                                    </div>

                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-balance-scale"></i></span>
                                        </div>
                                        <input type="text" name="fecha" value="{{ transaccion.get_descripcion_display }}" required="" disabled="" class="form-control" id="id_fecha" readonly="">
                                    </div>

                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-thermometer"></i></span>
                                        </div>
                                        <input type="text" name="fecha" value="{{ transaccion.get_estado_display }}" required="" disabled="" class="form-control" id="id_fecha" readonly="">
                                    </div>
                            </form>
                        </div> 
                    </div>
                </div>

            </div>
        </div>
    {% else %}
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header text-center border-0">
                    <img class="img-fluid w-50" src="{% static 'img/iniciar/Error.png'%}">
                </div>
                <div class="card-body">
                    <h2 class="text-center" style="color: white">ERROR EN LA URL</h2>
                </div>
                <div class="card-footer text-center border-0">
                    <a class="iniciar btn btn-warning w-50" href="{% url 'inicio' %}" style="color: black">Volver al Inicio</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}