{% extends 'inicio/consulta.html' %}
{% load static %}

{% block consulta %}
    {% if user.type_u.codigo == 'user' %}
        <div class="section d-flex">
            <div class="justify-content-center container" style="height: 90%;width: 100%">              
                <div class="d-flex container2 text-center justify-content-center">
                    <ul class="nav nav-tabs " role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="Titul">Gestión de Transacciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'saldo' %}">Saldo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'trans' '-' %}" >Transacciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recar' %}">Recargar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'retir' %}">Retirar</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane card-body active" role="tabpanel">
                            <h3 class="mb-md-3 text-center text-white align-center">Transacciones Realizadas</h3>
                            </br>
                            <div class="col-md-10 p-3 m-auto" >
                                {% if object_list %}
                                
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                                    </div>
                                    <input type="date" class="form-control" placeholder="Fecha de inicio" name="fecha_i" id="min-date" value="{{ 1demes }}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                                    </div>
                                    <input type="date" class="form-control" placeholder="Fecha de fin" name="fecha_f" id="max-date" value="{{ hoy }}">
                                </div>
                                    
                                    <select id="filtrardescripcion" class="form-control" name="filtrardescripcion">
                                        <option value="">Todos</option>
                                        <option value="Recarga de Saldo">Recarga de Saldo</option>
                                        <option value="Retiro de Saldo">Retiro de Saldo</option>
                                        <option value="Apuesta Realizada">Apuesta Realizada</option>
                                        <option value="Apuesta Ganada">Apuesta Ganada</option>
                                        <option value="Devolución de Apuesta">Devolución de Apuesta</option>
                                    </select> 

                                    <br/>

                                    <table id="tabla-transacciones" class="table table-responsive text-center mb-0 tbl w-100 table-hover">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Descripcion</th> 
                                                <th>Nro Referencia</th>
                                                <th>Monto</th>
                                                <th>Tipo</th>
                                                <th>Estado</th>  
                                                <th>Opciones</th>                                         
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for transa in object_list %}
                                                <tr>
                                                    <td>{{ transa.fecha|date:"Y-m-d" }}</td>
                                                    <td>{{ transa.get_descripcion_display }}</td>
                                                    <td>{{ transa.ref }}</td>
                                                    <td>{{ transa.monto }}</td>
                                                    <td>{{ transa.get_tipo_display }}</td>
                                                    {% if transa.estado == 'a' %}
                                                    <td><a class="btn btn-success w-100"><i class="fas fa-check "></td>
                                                    {% elif transa.estado == 'r' %}
                                                    <td><a class="btn btn-danger w-100"><i class="fas fa-times "></td>
                                                    {% elif transa.estado == 'c' %}
                                                    <td><a class="btn btn-info w-100"><i class="fas fa-thumbs-up"></td>
                                                    {% elif transa.estado == 'e' %}
                                                    <td><a class="btn btn-light w-100"><i class="far fa-hourglass "></td>
                                                    {% endif %}
                                                    <td>
                                                        <a class="btn btn-warning w-100" href="{% url 'consulTransUsu' transa.id %}"> Ver detalle <i class="fas fa-edit"></i> </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                    </br>
                                    <h3 class="mb-md-3 text-center text-white align-center">Primero Realiza una operación con la Moneda Virtual</h3>
                                    <a class="btn btn-warning w-100" href="{% url 'consulta' %}">Realizar</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% else %}
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header text-center border-0">
                    <img class="img-fluid w-50" src="{% static 'img/iniciar/Error.png'%}">
                </div>
                <div class="card-body">
                    <h2 class="text-center" style="color: white">ERROR EN LA URL</h2>
                </div>
                <div class="card-footer text-center border-0">
                    <a class="iniciar btn btn-warning w-50" href="{% url 'inicio' %}" style="color: black">Volver al Inicio</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/tablas/histTrans.js'%}"></script>
    <script>
        $( document ).ready(function() {
            $("#opExitosa").modal('{{ show }}')
        });   
    </script>
{% endblock %}
