{% extends 'base/base_generic.html' %}
{% load static %}

{% block inicioS %}
    
    <div id="section-iniciarSesion" class="section active" data-anchor="Iniciar_Sesion"> 
        <div class="d-flex justify-content-center h-100">
            <img class="bg-img-right img-fluid position-absolute" src="{% static 'img/iniciar/icon-iniciar.png'%}">
            <div class="card">
                <div class="card-header text-center border-0">
                    <img class="img-fluid w-25" src="{% static 'img/iniciar/icono-recuperar-contraseña.png'%}" >
                    <h3 class="recuperar">Recuperar Contraseña</h3>
                </div>
                <div class="card-body">
                    <p>Cambio de Contraseña Realizado con Exito</p>
                </div>
                <div class="card-footer text-center border-0">
                    <a class="iniciar btn btn-warning w-50" href="{% url 'index' %}" style="color: black">Volver</a>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}