{% extends 'base/base_generic.html' %}
{% load static %}

{% block inicioS %}
    
    <div id="section-iniciarSesion" class="section active" data-anchor="Iniciar_Sesion"> 
        <div class="d-flex justify-content-center h-100">
            <img class="bg-img-right img-fluid position-absolute" src="{% static 'img/iniciar/icon-iniciar.png'%}">
            <div class="card">
                <div class="card-header text-center border-0">
                    <img class="img-fluid w-25" src="{% static 'img/iniciar/icono-recuperar-contraseña.png'%}" >
                    <h3 class="recuperar">Recuperar Contraseña</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="Correo Electrónico" name="email">
                            {{ form.email.help_text }}
                            {{ form.email.errors }}
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning w-100" type="submit">Enviar Contraseña</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center border-0">
                    ¿No tienes cuenta? <a id="form-registrar" href="{% url 'signIn' %}">Regístrate</a>
                    </br>¿Ya tienes cuenta? <a id="form-iniciar" href="{% url 'index' %}">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}