{% extends 'base/base_generic.html' %}
{% load static %}

{% block inicioS %}   

{% if validlink %}

    <div id="section-iniciarSesion" class="section active" data-anchor="Iniciar_Sesion">
        <div class="d-flex justify-content-center h-100">
            <img class="bg-img-right img-fluid position-absolute" src="{% static 'img/iniciar/icon-iniciar.png'%}">
            <div class="card">
                <div class="card-header text-center border-0">
                    <img class="img-fluid w-25" src="{% static 'img/iniciar/icono-recuperar-contraseña.png'%}" >
                    <h3 class="recuperar">Recuperar Contraseña</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Nueva Contraseña" name="new_password1">
                                {{ form.new_password1.errors }}
                                {{ form.new_password1.help_text }}
                            </div>

                            <div class="input-group form-group">  
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Confirmar Nueva Contraseña" name="new_password2">
                                {{ form.new_password2.errors }}
                            </div>
                                {{ form.new_password2.help_text }}
                                </br>
                        <div class="form-group">
                            <button class="btn btn-warning w-100" type="submit">Actualizar Contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% else %}

    <div id="section-iniciarSesion" class="section active" data-anchor="Iniciar_Sesion"> 
        <div class="d-flex justify-content-center h-100">
            <img class="bg-img-right img-fluid position-absolute" src="{% static 'img/iniciar/icon-iniciar.png'%}">
            <div class="card">
                <div class="card-header text-center border-0">
                    <img class="img-fluid w-25" src="{% static 'img/iniciar/icono-recuperar-contraseña.png'%}" >
                    <h3 class="recuperar">Recuperar Contraseña</h3>
                </div>
                <div class="card-body">
                    <p>Este link ya fue utilizado...</p>
                </div>
                <div class="card-footer text-center border-0">
                    <a class="btn btn-warning w-50 text-black" href="{% url 'index' %}">Volver</a>
                </div>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}