<div class="input-group form-group">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
    </div>
    <input type="date" class="form-control" placeholder="Fecha de inicio" name="fecha_i" id="min-date" value="{{ 1demes }}">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
    </div>
    <input type="date" class="form-control" placeholder="Fecha de fin" name="fecha_f" id="max-date" value="{{ hoy }}">
</div>
    
<div class="input-group form-group">
<input type="text" class="form-control w-25" id="filtrarNombre" placeholder="Buscar...">
<div class="input-group form-group w-25"></div>
<select id="filtrarTipo" class="form-control w-25" name="filtrardescripcion">
    <option value="">Todos</option>
    <option value="Retiro">Retiros</option>
    <option value="Recarga">Recargas</option>
</select>
</div> 
    <br/>