{% extends 'inicio/gestionar.html' %}
{% load static %}

{% block gestionar %}
    {% if user.type_u.codigo == 'encar' %}
        <div class="section d-flex">
            <div class="justify-content-center container" style="height: 90%;width: 100%"> 
                <div class="d-flex container2 text-center justify-content-center">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="Titul">Gestionar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'listaJh' '-' %}">Jornadas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listaCr' %}">Carreras</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active card-body" role="tabpanel">
                            <h3 class="mb-md-3 text-center text-white align-center">Gestionar Jornada Hípica</h3>
                            <div class="col-md-10 p-3 m-auto">
                            {% if carreras %}
                            <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-place-of-worship"></i></span>
                                    </div>
                                    <select id="filtrarestatus" class="form-control" name="estatus">
                                        <option value="">Todos</option>
                                        <option value="Activa">Activas</option>
                                        <option value="Corriendo">Corriendo</option>
                                        <option value="Finalizada">Finalizadas</option>
                                        <option value="Publicada">Publicadas</option>
                                        <option value="Eliminada">Eliminados</option>
                                    </select>
                                </div>
                                </br>
                                </br>
                                <table id="tabla-carreras" class="table table-responsive text-center mb-0 tbl w-100 table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Hora</th>
                                            <th>Cant. de Caballos</th>
                                            <th>Distancia</th>
                                            <th>Estado</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for c in carreras  %}
                                        <tr>
                                            <td>{{c.hora}}</td>
                                            <td>{{c.cant_caballos}}</td>
                                            <td>{{c.distancia}}</td>
                                            <td>{{c.get_estatus_display}}</td>
                                            <td>
                                                {% if c.estatus == 'f' %}
                                                    <a href="{% url 'detalleCJ' c.id %}" class="btn btn-warning w-100">Registar 
                                                    </br>Resultados</a>
                                                {% elif c.estatus == 'p' %}
                                                    <a href="{% url 'detalleCJ' c.id %}" class="btn btn-warning w-100">Ver 
                                                    </br>Resultados</a>
                                                {% else %}
                                                    <p class="text-center"> La carrera aun no
                                                    </br>finaliza</p>
                                                {% endif %}
                                            </td>
                                        </tr>   
                                    {% endfor %}              
                                    </tbody>
                                </table>
                                {% else %}
                                    </br>
                                    <h3 class="mb-md-3 text-center text-white align-center">Primero Registre una carrera</h3>
                                    <a class="btn btn-warning w-100" href="{% url 'incluirJh' '-'  %}">Registrar</a>
                                {% endif %}
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                    <div class="row">
                                        <div class="input-group form-group col-6 w-50">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-id-card"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Id" value="{{ jornadah.id }}" disabled>
                                        </div>
                                        
                                        <div class="input-group form-group col-6 w-50">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Id Hipodromo" value="{{ jornadah.id_hip.nombre }}" disabled>
                                        </div>
                                        
                                        <div class="input-group form-group col-6 w-50">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-calendar-check"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Fecha de la Jornada" value="{{ jornadah.fecha }}" disabled>
                                        </div>

                                        <div class="input-group form-group col-6 w-50">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-list-ol"></i></span>
                                            </div>
                                            <input type="number" class="form-control" placeholder="Cantidad de Carreras" value="{{ jornadah.cant_carr }}" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row card-footer text-center border-0">
                                            <a href="{% url 'actuJh' jornadah.id %}" class="col-5 btn btn-warning w-50">Actualizar</a>
                                            <a href="{% url 'elimJh' jornadah.id %}" class="col-5 btn btn-danger w-50">Eliminar</a>
                                            <a href="{% url 'listaJh' '-' %}" class="col-5 btn btn-warning w-50">Volver Atras</a>
                                            <a href="#" class="col-5 btn btn-success w-50">Publicar Resultados</a>
                                        </div>
                                    </div>
                            </form>
                            
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    {% else %}
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header text-center border-0">
                    <img class="img-fluid w-50" src="{% static 'img/iniciar/Error.png'%}">
                </div>
                <div class="card-body">
                    <h2 class="text-center" style="color: white">ERROR EN LA URL</h2>
                </div>
                <div class="card-footer text-center border-0">
                    <a class="iniciar btn btn-warning w-50" href="{% url 'inicio' %}" style="color: black">Volver al Inicio</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
   <script type="text/javascript" src="{% static 'js/tablas/listadoCarreras.js'%}"></script>   
    <script>
        $( document ).ready(function() {
            $("#opExitosa").modal('{{ show }}')
        });   
    </script>
{% endblock %}