{% extends 'inicio/historialA.html' %}
{% load static %}

{% block consulta %}
     {% if user.type_u.codigo != 'admin' %}
        <div class="section d-flex">
            <div class="justify-content-center container" style="height: 90%;width: 100%">
                
                <div class="d-flex container2 text-center justify-content-center">
                    <ul class="nav nav-tabs " role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="Titul">Apuesta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'apostar' '-' %}">Apostar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listA' %}"> Consultar Apuestas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'listC' %}">Consultar Carreras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'reglam' %}">Reglamento</a>
                        </li>
                        
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active card-body" role="tabpanel">
                            <h3 class="mb-md-3 text-center text-white align-center">Caballos que participan en la Carrera</h3>
                            </br>
                            <div class="col-md-10 p-3 m-auto" >
                                {% if object_list %}
                            <table class="table table-responsive text-center mb-0 tbl w-100 table-hover" id="tabla">
                            <thead class="thead-dark">
                                <tr>
                                <th>Número en la carrera</th>
                                   <th>Nombre</th> 
                                    <th>Peso</th>
                                    <th>Posicion</th>
                                    <th>Entrenador</th>   
                                    <th>Jockey</th>                                        
                                </tr>
                            </thead>
                            <tbody>
                                {% for detalles_c in object_list %}
                                    <tr>
                                    <td>{{ detalles_c.numero }}</td>
                                        <td>{{ detalles_c.id_caba.nombre }}</td>
                                        <td>{{ detalles_c.id_caba.peso }} kg</td>
                                        {% if detalles_c.posicion == None %}
                                        <td>Por correr</td>
                                        {% elif detalles_c.posicion == 500 %}
                                        <td>No finalizó</td>
                                        {% else %}
                                        <td>{{ detalles_c.posicion }}</td>
                                        {% endif %}
                                        <td>{{ detalles_c.id_caba.id_entre }}</td>
                                        <td>{{ detalles_c.id_jock.nombre }}</td>
                                        </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                                    </br>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% else %}
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header text-center border-0">
                    <img class="img-fluid w-50" src="{% static 'img/iniciar/Error.png'%}">
                </div>
                <div class="card-body">
                    <h2 class="text-center" style="color: white">ERROR EN LA URL</h2>
                </div>
                <div class="card-footer text-center border-0">
                    <a class="iniciar btn btn-warning w-50" href="{% url 'inicio' %}" style="color: black">Volver al Inicio</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/tablas/tablaSencilla.js'%}"></script>
{% endblock %}