{% extends 'inicio/gestionar.html' %}
{% load static %}

{% block gestionar %}
    {% if user.type_u.codigo == 'encar' %}
        <div class="section d-flex">
            <div class="justify-content-center container" style="height: 90%;width: 100%">

                <div class="d-flex container2 text-center justify-content-center">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="Titul">Gestionar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listaJh' '-' %}">Jornadas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'listaCr' %}">Carreras</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane card-body active" role="tabpanel">
                            <h3 class="mb-md-3 text-center text-white align-center">Eliminar Carrera</h3>
                            <form method="POST">
                                {% csrf_token %}                               
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-id-card"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Id Jornada" value="{{ carrera.id_jh }}" disabled>
                                    </div>
                                    
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        <input type="time" class="form-control" placeholder="Hora de la Carrera" value="{{ carrera.hora }}" disabled>
                                    </div>

                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-list-ol"></i></span>
                                        </div>
                                        <input type="number" class="form-control" placeholder="Cantidad de Caballos" value="{{ carrera.cant_caballos }}" disabled>
                                    </div>

                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-list-ol"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Cantidad de Caballos" value="{{ carrera.distancia }}" disabled>
                                    </div>

                                    <div class="input-group form-group d-none">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-tachometer-alt"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Estatus de la Carrera" value="e" name = "estatus">
                                    </div>

                                    <div class="form-group">
                                        <h4 class="mb-md-3 text-center text-white align-center">¿Seguro de Eliminar la Carrera?</h4>
                                        <div class="row">
                                            <div class="col-6">
                                                <button class="btn btn-danger w-50" type="submit">Si</button>
                                            </div>
                                            <div class="col-6">
                                                <a href="{% url 'listaCr' %}" class="btn btn-warning w-50">No</a>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% else %}
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header text-center border-0">
                    <img class="img-fluid w-50" src="{% static 'img/iniciar/Error.png'%}">
                </div>
                <div class="card-body">
                    <h2 class="text-center" style="color: white">ERROR EN LA URL</h2>
                </div>
                <div class="card-footer text-center border-0">
                    <a class="iniciar btn btn-warning w-50" href="{% url 'inicio' %}" style="color: black">Volver al Inicio</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}